h1{
    text-align: center;
    background-color: aqua;
    color:blue;
    padding:30px;
}

hr{
    background-color:aquamarine;
    border:2px solid black;
    width:50%;
}

p{
margin-right: 100px; 
margin-left: 100px;
margin-top: 25px;    
}
h2{
    padding-left: 70px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  header{
    background-color:aquamarine;
  }
ul{
    list-style: none;
    }
    li{
    
        display: inline;
        margin:100px;
    }
li a{
color:black;
text-decoration: underline;
}
footer{
    background-color: black;
    color:white;
    padding: 5px;
    text-align: center;
}



 


